{% extends "base.html" %}


{% block main %}
  <main class="container mt-3">
    <h1 class="display-5 mt-4">{{ departures[departure] }}</h1>
    <p class="mb-4">Найдено {{ tours|length }} туров, от {{ ((tours.values()|sort(attribute="price"))|first).price }} до
        {{ ((tours.values()|sort(attribute="price"))|last).price }}
        и от {{ ((tours.values()|sort(attribute="nights"))|first).nights }} ночей до
        {{ ((tours.values()|sort(attribute="nights"))|last).nights }} ночей</p>
    <!-- CARDS -->
    {% for id in tours.keys() %}
    <div class="row mt-5">
      <div class="col-4">
        <div class="card mb-4">
          <div class="embed-responsive embed-responsive-16by9">
             <img class="card-img-top embed-responsive-item" src={{ tours[id].pictures }} alt="" />
          </div>
          <div class="card-body">
            <h2 class="h5 card-title">{{ tours[id].title }}</h2>
            <p class="card-text">{{ (tours[id].description)|truncate(100) }}</p>
            <a href="/tours/{{ id }}/" class="btn btn-sm btn-primary">Подробнее</a>
          </div>
        </div>
      </div>
    {% endfor %}
{% endblock %}